<form id="newWorkout" action="/update">
	<fieldset>
		<legend> Enter a Workout</legend>
		<label for="scriptName"> Workout: </label>
			<input type="text" name="scriptName" id="scriptName" value="{{workouts.name}}"><br>
		<label for="reps"> Reps: </label>
			<input type="number" name"=reps" id="reps" value="{{workouts.reps}}"><br>
		<label for="weight"> Weight: </label>
			<input type="number" name="weight" id="weight" value="{{workouts.weight}}"><br>
		<label for="date> Date: </label>
			<input type="date" name="date" id="date" value="{{workouts.date}}"><br>
		{{#if workouts.lbs}}
			<label for="lbs"> lbs</label>
				<input type="radio" name="lbs" value="1" id="lbs" checked="checked">
			<label for="kgs"> kgs </label>
				<input type="radio" name="lbs" value="0"><br>
		{{else}}
			<label for="lbs"> lbs </label>
				<input type="radio" name="lbs" value="1" id="lbs">
			<label for="kgs"> kgs </label>
				<input type="radio" name="lbs" value="0" checked="checked"><br>
		{{/if}}
		<input type="hidden" name="id" value={{workouts.id}}>
		<input type="submit" id="submit" value="Submit workout">
	</fieldset>
</form>
